.form_main_container {
	margin-top: 110px;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form_box {
	height: 400px;
	width: 437px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid #222;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 0px 1px 50px rgba(255, 255, 255, 0.062);
}
.register {
	height: 600px;
}

.form_ctn_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 10px 0;
}
.form_title_box {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.form_title {
	font-size: 48px;
	margin: 0;
}

.form_body {
	display: flex;
	justify-content: center;
}

.login_form {
	display: flex;
	flex-direction: column;
}

input {
	background: none;
	font-size: 16px;
	color: #cacaca;
	margin-top: 20px;
	height: 25px;
	border: none;
	border-bottom: 3px solid #e0ff00;
	outline: none;
	margin-bottom: 10px;
}
.errors_text {
	color: #cacaca;
	font-size: 12px;
}

.btn_form {
	background: inherit;
	font-size: 16px;
	font-weight: 500;
	color: #cacaca;
	margin: 30px 0;
	width: 110px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	border: 2px solid #e0ff00;
	border-radius: 2px;
	transition: 0.5s ease all;
	-webkit-transition: 0.5s ease all;
	-moz-transition: 0.5s ease all;
	-ms-transition: 0.5s ease all;
	-o-transition: 0.5s ease all;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}

.btn_form:hover {
	transition: 0.5s ease all;
	background: whitesmoke;
	color: #121212;
	-webkit-transition: 0.5s ease all;
	-moz-transition: 0.5s ease all;
	-ms-transition: 0.5s ease all;
	-o-transition: 0.5s ease all;
}
