@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	font-family: 'DM Sans', sans-serif, 'Roboto', 'Oxygen', -apple-system,
		'Segoe UI', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #121212;
	color: whitesmoke;
}
